@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $white;
}

.popup {
  min-width: 350px;
  padding: 30px 20px;
}
.title {
  font-size: 16px;
  text-align: center;
  font-weight: $semibold;
  margin-bottom: 12px;
}
.timeLabel {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  margin-bottom: 12px;
  .input {
    text-align: right;
  }
}
.btnsWrap {
  display: flex;
  justify-content: space-between;
  .tabBtnsWrap {
    display: flex;
    gap: 20px;
  }
  button {
    padding: 5px 10px;
    min-width: 60px;
    font-size: 14px;
    font-weight: $semibold;
    background-color: $skyBlue;
    color: $white;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    cursor: pointer;
    &.start {
      background-color: green;
    }
    &.stop {
      background-color: red;
    }
    &:hover {
      color: $black;
      background-color: $skyBlue;
    }
  }
}
